# Kotlin / Android
.kotlin
.gradle
.settings
.project
.classpath
.idea
*.iml
**/build/
!src/**/build/

# iOS
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
*.xcuserstate
xcuserdata

# Other
local.properties