/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package and.degilevich.dream.shared.core.service.api.generated.api

import and.degilevich.dream.shared.core.service.api.generated.model.AlbumObject
import and.degilevich.dream.shared.core.service.api.generated.model.GetAnAlbum401Response
import and.degilevich.dream.shared.core.service.api.generated.model.GetMultipleAlbums200Response
import and.degilevich.dream.shared.core.service.api.generated.model.GetNewReleases200Response
import and.degilevich.dream.shared.core.service.api.generated.model.PagingArtistDiscographyAlbumObject
import and.degilevich.dream.shared.core.service.api.generated.model.PagingSavedAlbumObject
import and.degilevich.dream.shared.core.service.api.generated.model.PagingSimplifiedTrackObject
import and.degilevich.dream.shared.core.service.api.generated.model.SaveAlbumsUserRequest

import and.degilevich.dream.shared.core.service.api.generated.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import io.ktor.http.Headers
import io.ktor.http.HttpHeaders
import io.ktor.http.ContentType
import io.ktor.http.content.PartData
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class AlbumsApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Check User&#39;s Saved Albums 
     * Check if one or more albums is already saved in the current Spotify user&#39;s &#39;Your Music&#39; library.  **Note:** This endpoint is deprecated. Use [Check User&#39;s Saved Items](/documentation/web-api/reference/check-library-contains) instead. 
     * @param ids 
     * @return kotlin.collections.List<kotlin.Boolean>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun checkUsersSavedAlbums(ids: kotlin.String): HttpResponse<kotlin.collections.List<kotlin.Boolean>> {

        val localVariableAuthNames = listOf<String>("oauth_2_0")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        ids?.apply { localVariableQuery["ids"] = listOf("$ids") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/me/albums/contains",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<CheckUsersSavedAlbumsResponse>().map { value }
    }

    @Serializable(CheckUsersSavedAlbumsResponse.Companion::class)
    private class CheckUsersSavedAlbumsResponse(val value: List<kotlin.Boolean>) {
        companion object : KSerializer<CheckUsersSavedAlbumsResponse> {
            private val serializer: KSerializer<List<kotlin.Boolean>> = serializer<List<kotlin.Boolean>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: CheckUsersSavedAlbumsResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = CheckUsersSavedAlbumsResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Get Album 
     * Get Spotify catalog information for a single album. 
     * @param id 
     * @param market  (optional)
     * @return AlbumObject
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getAnAlbum(id: kotlin.String, market: kotlin.String? = null): HttpResponse<AlbumObject> {

        val localVariableAuthNames = listOf<String>("oauth_2_0")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        market?.apply { localVariableQuery["market"] = listOf("$market") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/albums/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get Album Tracks 
     * Get Spotify catalog information about an album’s tracks. Optional parameters can be used to limit the number of tracks returned. 
     * @param id 
     * @param market  (optional)
     * @param limit  (optional, default to 20)
     * @param offset  (optional, default to 0)
     * @return PagingSimplifiedTrackObject
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getAnAlbumsTracks(id: kotlin.String, market: kotlin.String? = null, limit: kotlin.Int? = 20, offset: kotlin.Int? = 0): HttpResponse<PagingSimplifiedTrackObject> {

        val localVariableAuthNames = listOf<String>("oauth_2_0")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        market?.apply { localVariableQuery["market"] = listOf("$market") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/albums/{id}/tracks".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get Artist&#39;s Albums 
     * Get Spotify catalog information about an artist&#39;s albums. 
     * @param id 
     * @param includeGroups  (optional)
     * @param market  (optional)
     * @param limit  (optional, default to 5)
     * @param offset  (optional, default to 0)
     * @return PagingArtistDiscographyAlbumObject
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getAnArtistsAlbums(id: kotlin.String, includeGroups: kotlin.String? = null, market: kotlin.String? = null, limit: kotlin.Int? = 5, offset: kotlin.Int? = 0): HttpResponse<PagingArtistDiscographyAlbumObject> {

        val localVariableAuthNames = listOf<String>("oauth_2_0")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        includeGroups?.apply { localVariableQuery["include_groups"] = listOf("$includeGroups") }
        market?.apply { localVariableQuery["market"] = listOf("$market") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/artists/{id}/albums".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get Several Albums 
     * Get Spotify catalog information for multiple albums identified by their Spotify IDs. 
     * @param ids 
     * @param market  (optional)
     * @return GetMultipleAlbums200Response
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getMultipleAlbums(ids: kotlin.String, market: kotlin.String? = null): HttpResponse<GetMultipleAlbums200Response> {

        val localVariableAuthNames = listOf<String>("oauth_2_0")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        ids?.apply { localVariableQuery["ids"] = listOf("$ids") }
        market?.apply { localVariableQuery["market"] = listOf("$market") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/albums",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get New Releases 
     * Get a list of new album releases featured in Spotify (shown, for example, on a Spotify player’s “Browse” tab). 
     * @param limit  (optional, default to 20)
     * @param offset  (optional, default to 0)
     * @return GetNewReleases200Response
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getNewReleases(limit: kotlin.Int? = 20, offset: kotlin.Int? = 0): HttpResponse<GetNewReleases200Response> {

        val localVariableAuthNames = listOf<String>("oauth_2_0")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/browse/new-releases",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get User&#39;s Saved Albums 
     * Get a list of the albums saved in the current Spotify user&#39;s &#39;Your Music&#39; library. 
     * @param limit  (optional, default to 20)
     * @param offset  (optional, default to 0)
     * @param market  (optional)
     * @return PagingSavedAlbumObject
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getUsersSavedAlbums(limit: kotlin.Int? = 20, offset: kotlin.Int? = 0, market: kotlin.String? = null): HttpResponse<PagingSavedAlbumObject> {

        val localVariableAuthNames = listOf<String>("oauth_2_0")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        market?.apply { localVariableQuery["market"] = listOf("$market") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/me/albums",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Remove Users&#39; Saved Albums 
     * Remove one or more albums from the current user&#39;s &#39;Your Music&#39; library.  **Note:** This endpoint is deprecated. Use [Remove Items from Library](/documentation/web-api/reference/remove-library-items) instead. 
     * @param ids 
     * @param saveAlbumsUserRequest  (optional)
     * @return void
     */
    open suspend fun removeAlbumsUser(ids: kotlin.String, saveAlbumsUserRequest: SaveAlbumsUserRequest? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>("oauth_2_0")

        val localVariableBody = saveAlbumsUserRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        ids?.apply { localVariableQuery["ids"] = listOf("$ids") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/me/albums",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Save Albums for Current User 
     * Save one or more albums to the current user&#39;s &#39;Your Music&#39; library.  **Note:** This endpoint is deprecated. Use [Save Items to Library](/documentation/web-api/reference/save-library-items) instead. 
     * @param ids 
     * @param saveAlbumsUserRequest  (optional)
     * @return void
     */
    open suspend fun saveAlbumsUser(ids: kotlin.String, saveAlbumsUserRequest: SaveAlbumsUserRequest? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>("oauth_2_0")

        val localVariableBody = saveAlbumsUserRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        ids?.apply { localVariableQuery["ids"] = listOf("$ids") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/me/albums",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



}
