/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package and.degilevich.dream.shared.core.service.api.generated.api

import and.degilevich.dream.shared.core.service.api.generated.model.AudiobookObject
import and.degilevich.dream.shared.core.service.api.generated.model.GetAnAlbum401Response
import and.degilevich.dream.shared.core.service.api.generated.model.GetMultipleAudiobooks200Response
import and.degilevich.dream.shared.core.service.api.generated.model.PagingSimplifiedAudiobookObject
import and.degilevich.dream.shared.core.service.api.generated.model.PagingSimplifiedChapterObject

import and.degilevich.dream.shared.core.service.api.generated.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import io.ktor.http.Headers
import io.ktor.http.HttpHeaders
import io.ktor.http.ContentType
import io.ktor.http.content.PartData
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class AudiobooksApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Check User&#39;s Saved Audiobooks 
     * Check if one or more audiobooks are already saved in the current Spotify user&#39;s library.  **Note:** This endpoint is deprecated. Use [Check User&#39;s Saved Items](/documentation/web-api/reference/check-library-contains) instead. 
     * @param ids 
     * @return kotlin.collections.List<kotlin.Boolean>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun checkUsersSavedAudiobooks(ids: kotlin.String): HttpResponse<kotlin.collections.List<kotlin.Boolean>> {

        val localVariableAuthNames = listOf<String>("oauth_2_0")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        ids?.apply { localVariableQuery["ids"] = listOf("$ids") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/me/audiobooks/contains",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<CheckUsersSavedAudiobooksResponse>().map { value }
    }

    @Serializable(CheckUsersSavedAudiobooksResponse.Companion::class)
    private class CheckUsersSavedAudiobooksResponse(val value: List<kotlin.Boolean>) {
        companion object : KSerializer<CheckUsersSavedAudiobooksResponse> {
            private val serializer: KSerializer<List<kotlin.Boolean>> = serializer<List<kotlin.Boolean>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: CheckUsersSavedAudiobooksResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = CheckUsersSavedAudiobooksResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Get an Audiobook 
     * Get Spotify catalog information for a single audiobook. Audiobooks are only available within the US, UK, Canada, Ireland, New Zealand and Australia markets. 
     * @param id 
     * @param market  (optional)
     * @return AudiobookObject
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getAnAudiobook(id: kotlin.String, market: kotlin.String? = null): HttpResponse<AudiobookObject> {

        val localVariableAuthNames = listOf<String>("oauth_2_0")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        market?.apply { localVariableQuery["market"] = listOf("$market") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/audiobooks/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get Audiobook Chapters 
     * Get Spotify catalog information about an audiobook&#39;s chapters. Audiobooks are only available within the US, UK, Canada, Ireland, New Zealand and Australia markets. 
     * @param id 
     * @param market  (optional)
     * @param limit  (optional, default to 20)
     * @param offset  (optional, default to 0)
     * @return PagingSimplifiedChapterObject
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getAudiobookChapters(id: kotlin.String, market: kotlin.String? = null, limit: kotlin.Int? = 20, offset: kotlin.Int? = 0): HttpResponse<PagingSimplifiedChapterObject> {

        val localVariableAuthNames = listOf<String>("oauth_2_0")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        market?.apply { localVariableQuery["market"] = listOf("$market") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/audiobooks/{id}/chapters".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get Several Audiobooks 
     * Get Spotify catalog information for several audiobooks identified by their Spotify IDs. Audiobooks are only available within the US, UK, Canada, Ireland, New Zealand and Australia markets. 
     * @param ids 
     * @param market  (optional)
     * @return GetMultipleAudiobooks200Response
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getMultipleAudiobooks(ids: kotlin.String, market: kotlin.String? = null): HttpResponse<GetMultipleAudiobooks200Response> {

        val localVariableAuthNames = listOf<String>("oauth_2_0")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        ids?.apply { localVariableQuery["ids"] = listOf("$ids") }
        market?.apply { localVariableQuery["market"] = listOf("$market") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/audiobooks",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get User&#39;s Saved Audiobooks 
     * Get a list of the audiobooks saved in the current Spotify user&#39;s &#39;Your Music&#39; library. 
     * @param limit  (optional, default to 20)
     * @param offset  (optional, default to 0)
     * @return PagingSimplifiedAudiobookObject
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getUsersSavedAudiobooks(limit: kotlin.Int? = 20, offset: kotlin.Int? = 0): HttpResponse<PagingSimplifiedAudiobookObject> {

        val localVariableAuthNames = listOf<String>("oauth_2_0")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/me/audiobooks",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Remove User&#39;s Saved Audiobooks 
     * Remove one or more audiobooks from the Spotify user&#39;s library.  **Note:** This endpoint is deprecated. Use [Remove Items from Library](/documentation/web-api/reference/remove-library-items) instead. 
     * @param ids 
     * @return void
     */
    open suspend fun removeAudiobooksUser(ids: kotlin.String): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>("oauth_2_0")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        ids?.apply { localVariableQuery["ids"] = listOf("$ids") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/me/audiobooks",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Save Audiobooks for Current User 
     * Save one or more audiobooks to the current Spotify user&#39;s library.  **Note:** This endpoint is deprecated. Use [Save Items to Library](/documentation/web-api/reference/save-library-items) instead. 
     * @param ids 
     * @return void
     */
    open suspend fun saveAudiobooksUser(ids: kotlin.String): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>("oauth_2_0")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        ids?.apply { localVariableQuery["ids"] = listOf("$ids") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/me/audiobooks",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


}
