/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package and.degilevich.dream.shared.core.service.api.generated.api

import and.degilevich.dream.shared.core.service.api.generated.model.CategoryObject
import and.degilevich.dream.shared.core.service.api.generated.model.GetAnAlbum401Response
import and.degilevich.dream.shared.core.service.api.generated.model.GetCategories200Response
import and.degilevich.dream.shared.core.service.api.generated.model.PagingFeaturedPlaylistObject

import and.degilevich.dream.shared.core.service.api.generated.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import io.ktor.http.Headers
import io.ktor.http.HttpHeaders
import io.ktor.http.ContentType
import io.ktor.http.content.PartData
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class CategoriesApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Get Category&#39;s Playlists 
     * Get a list of Spotify playlists tagged with a particular category. 
     * @param categoryId 
     * @param limit  (optional, default to 20)
     * @param offset  (optional, default to 0)
     * @return PagingFeaturedPlaylistObject
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getACategoriesPlaylists(categoryId: kotlin.String, limit: kotlin.Int? = 20, offset: kotlin.Int? = 0): HttpResponse<PagingFeaturedPlaylistObject> {

        val localVariableAuthNames = listOf<String>("oauth_2_0")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/browse/categories/{category_id}/playlists".replace("{" + "category_id" + "}", "$categoryId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get Single Browse Category 
     * Get a single category used to tag items in Spotify (on, for example, the Spotify player’s “Browse” tab). 
     * @param categoryId 
     * @param locale  (optional)
     * @return CategoryObject
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getACategory(categoryId: kotlin.String, locale: kotlin.String? = null): HttpResponse<CategoryObject> {

        val localVariableAuthNames = listOf<String>("oauth_2_0")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        locale?.apply { localVariableQuery["locale"] = listOf("$locale") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/browse/categories/{category_id}".replace("{" + "category_id" + "}", "$categoryId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get Several Browse Categories 
     * Get a list of categories used to tag items in Spotify (on, for example, the Spotify player’s “Browse” tab). 
     * @param locale  (optional)
     * @param limit  (optional, default to 20)
     * @param offset  (optional, default to 0)
     * @return GetCategories200Response
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getCategories(locale: kotlin.String? = null, limit: kotlin.Int? = 20, offset: kotlin.Int? = 0): HttpResponse<GetCategories200Response> {

        val localVariableAuthNames = listOf<String>("oauth_2_0")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        locale?.apply { localVariableQuery["locale"] = listOf("$locale") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/browse/categories",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


}
