/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package and.degilevich.dream.shared.core.service.api.generated.api

import and.degilevich.dream.shared.core.service.api.generated.model.AddTracksToPlaylistRequest
import and.degilevich.dream.shared.core.service.api.generated.model.ChangePlaylistDetailsRequest
import and.degilevich.dream.shared.core.service.api.generated.model.CreatePlaylistRequest
import and.degilevich.dream.shared.core.service.api.generated.model.FollowPlaylistRequest
import and.degilevich.dream.shared.core.service.api.generated.model.GetAnAlbum401Response
import and.degilevich.dream.shared.core.service.api.generated.model.ImageObject
import and.degilevich.dream.shared.core.service.api.generated.model.PagingFeaturedPlaylistObject
import and.degilevich.dream.shared.core.service.api.generated.model.PagingPlaylistObject
import and.degilevich.dream.shared.core.service.api.generated.model.PagingPlaylistTrackObject
import and.degilevich.dream.shared.core.service.api.generated.model.PlaylistObject
import and.degilevich.dream.shared.core.service.api.generated.model.RemoveItemsPlaylistRequest
import and.degilevich.dream.shared.core.service.api.generated.model.RemoveTracksPlaylistRequest
import and.degilevich.dream.shared.core.service.api.generated.model.ReorderOrReplacePlaylistsTracks200Response
import and.degilevich.dream.shared.core.service.api.generated.model.ReorderOrReplacePlaylistsTracksRequest

import and.degilevich.dream.shared.core.service.api.generated.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import io.ktor.http.Headers
import io.ktor.http.HttpHeaders
import io.ktor.http.ContentType
import io.ktor.http.content.PartData
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class PlaylistsApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Add Items to Playlist 
     * Add one or more items to a user&#39;s playlist. 
     * @param playlistId 
     * @param position  (optional)
     * @param uris  (optional)
     * @param addTracksToPlaylistRequest  (optional)
     * @return ReorderOrReplacePlaylistsTracks200Response
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun addItemsToPlaylist(playlistId: kotlin.String, position: kotlin.Int? = null, uris: kotlin.String? = null, addTracksToPlaylistRequest: AddTracksToPlaylistRequest? = null): HttpResponse<ReorderOrReplacePlaylistsTracks200Response> {

        val localVariableAuthNames = listOf<String>("oauth_2_0")

        val localVariableBody = addTracksToPlaylistRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        position?.apply { localVariableQuery["position"] = listOf("$position") }
        uris?.apply { localVariableQuery["uris"] = listOf("$uris") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/playlists/{playlist_id}/items".replace("{" + "playlist_id" + "}", "$playlistId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Add Items to Playlist [DEPRECATED] 
     * **Deprecated:** Use [Add Items to Playlist](/documentation/web-api/reference/add-items-to-playlist) instead.  Add one or more items to a user&#39;s playlist. 
     * @param playlistId 
     * @param position  (optional)
     * @param uris  (optional)
     * @param addTracksToPlaylistRequest  (optional)
     * @return ReorderOrReplacePlaylistsTracks200Response
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun addTracksToPlaylist(playlistId: kotlin.String, position: kotlin.Int? = null, uris: kotlin.String? = null, addTracksToPlaylistRequest: AddTracksToPlaylistRequest? = null): HttpResponse<ReorderOrReplacePlaylistsTracks200Response> {

        val localVariableAuthNames = listOf<String>("oauth_2_0")

        val localVariableBody = addTracksToPlaylistRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        position?.apply { localVariableQuery["position"] = listOf("$position") }
        uris?.apply { localVariableQuery["uris"] = listOf("$uris") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/playlists/{playlist_id}/tracks".replace("{" + "playlist_id" + "}", "$playlistId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Change Playlist Details 
     * Change a playlist&#39;s name and public/private state. (The user must, of course, own the playlist.) 
     * @param playlistId 
     * @param changePlaylistDetailsRequest  (optional)
     * @return void
     */
    open suspend fun changePlaylistDetails(playlistId: kotlin.String, changePlaylistDetailsRequest: ChangePlaylistDetailsRequest? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>("oauth_2_0")

        val localVariableBody = changePlaylistDetailsRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/playlists/{playlist_id}".replace("{" + "playlist_id" + "}", "$playlistId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Check if Current User Follows Playlist 
     * Check to see if the current user is following a specified playlist.  **Note:** This endpoint is deprecated. Use [Check User&#39;s Saved Items](/documentation/web-api/reference/check-library-contains) instead. 
     * @param playlistId 
     * @param ids  (optional)
     * @return kotlin.collections.List<kotlin.Boolean>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun checkIfUserFollowsPlaylist(playlistId: kotlin.String, ids: kotlin.String? = null): HttpResponse<kotlin.collections.List<kotlin.Boolean>> {

        val localVariableAuthNames = listOf<String>("oauth_2_0")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        ids?.apply { localVariableQuery["ids"] = listOf("$ids") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/playlists/{playlist_id}/followers/contains".replace("{" + "playlist_id" + "}", "$playlistId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<CheckIfUserFollowsPlaylistResponse>().map { value }
    }

    @Serializable(CheckIfUserFollowsPlaylistResponse.Companion::class)
    private class CheckIfUserFollowsPlaylistResponse(val value: List<kotlin.Boolean>) {
        companion object : KSerializer<CheckIfUserFollowsPlaylistResponse> {
            private val serializer: KSerializer<List<kotlin.Boolean>> = serializer<List<kotlin.Boolean>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: CheckIfUserFollowsPlaylistResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = CheckIfUserFollowsPlaylistResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Create Playlist 
     * Create a playlist for the current Spotify user. (The playlist will be empty until you [add tracks](/documentation/web-api/reference/add-tracks-to-playlist).) Each user is generally limited to a maximum of 11000 playlists. 
     * @param createPlaylistRequest  (optional)
     * @return PlaylistObject
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun createPlaylist(createPlaylistRequest: CreatePlaylistRequest? = null): HttpResponse<PlaylistObject> {

        val localVariableAuthNames = listOf<String>("oauth_2_0")

        val localVariableBody = createPlaylistRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/me/playlists",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Create Playlist for user 
     * **Deprecated**: Use [Create Playlist](/documentation/web-api/reference/create-playlist) instead.  Create a playlist for a Spotify user. (The playlist will be empty until you [add tracks](/documentation/web-api/reference/add-tracks-to-playlist).) Each user is generally limited to a maximum of 11000 playlists. 
     * @param userId 
     * @param createPlaylistRequest  (optional)
     * @return PlaylistObject
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun createPlaylistForUser(userId: kotlin.String, createPlaylistRequest: CreatePlaylistRequest? = null): HttpResponse<PlaylistObject> {

        val localVariableAuthNames = listOf<String>("oauth_2_0")

        val localVariableBody = createPlaylistRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/users/{user_id}/playlists".replace("{" + "user_id" + "}", "$userId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Follow Playlist 
     * Add the current user as a follower of a playlist.  **Note:** This endpoint is deprecated. Use [Save Items to Library](/documentation/web-api/reference/save-library-items) instead. 
     * @param playlistId 
     * @param followPlaylistRequest  (optional)
     * @return void
     */
    open suspend fun followPlaylist(playlistId: kotlin.String, followPlaylistRequest: FollowPlaylistRequest? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>("oauth_2_0")

        val localVariableBody = followPlaylistRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/playlists/{playlist_id}/followers".replace("{" + "playlist_id" + "}", "$playlistId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Get Category&#39;s Playlists 
     * Get a list of Spotify playlists tagged with a particular category. 
     * @param categoryId 
     * @param limit  (optional, default to 20)
     * @param offset  (optional, default to 0)
     * @return PagingFeaturedPlaylistObject
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getACategoriesPlaylists(categoryId: kotlin.String, limit: kotlin.Int? = 20, offset: kotlin.Int? = 0): HttpResponse<PagingFeaturedPlaylistObject> {

        val localVariableAuthNames = listOf<String>("oauth_2_0")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/browse/categories/{category_id}/playlists".replace("{" + "category_id" + "}", "$categoryId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get Current User&#39;s Playlists 
     * Get a list of the playlists owned or followed by the current Spotify user. 
     * @param limit  (optional, default to 20)
     * @param offset  (optional, default to 0)
     * @return PagingPlaylistObject
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getAListOfCurrentUsersPlaylists(limit: kotlin.Int? = 20, offset: kotlin.Int? = 0): HttpResponse<PagingPlaylistObject> {

        val localVariableAuthNames = listOf<String>("oauth_2_0")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/me/playlists",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get Featured Playlists 
     * Get a list of Spotify featured playlists (shown, for example, on a Spotify player&#39;s &#39;Browse&#39; tab). 
     * @param locale  (optional)
     * @param limit  (optional, default to 20)
     * @param offset  (optional, default to 0)
     * @return PagingFeaturedPlaylistObject
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getFeaturedPlaylists(locale: kotlin.String? = null, limit: kotlin.Int? = 20, offset: kotlin.Int? = 0): HttpResponse<PagingFeaturedPlaylistObject> {

        val localVariableAuthNames = listOf<String>("oauth_2_0")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        locale?.apply { localVariableQuery["locale"] = listOf("$locale") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/browse/featured-playlists",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get User&#39;s Playlists 
     * Get a list of the playlists owned or followed by a Spotify user. 
     * @param userId 
     * @param limit  (optional, default to 20)
     * @param offset  (optional, default to 0)
     * @return PagingPlaylistObject
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getListUsersPlaylists(userId: kotlin.String, limit: kotlin.Int? = 20, offset: kotlin.Int? = 0): HttpResponse<PagingPlaylistObject> {

        val localVariableAuthNames = listOf<String>("oauth_2_0")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/users/{user_id}/playlists".replace("{" + "user_id" + "}", "$userId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get Playlist 
     * Get a playlist owned by a Spotify user. 
     * @param playlistId 
     * @param market  (optional)
     * @param fields  (optional)
     * @param additionalTypes  (optional)
     * @return PlaylistObject
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getPlaylist(playlistId: kotlin.String, market: kotlin.String? = null, fields: kotlin.String? = null, additionalTypes: kotlin.String? = null): HttpResponse<PlaylistObject> {

        val localVariableAuthNames = listOf<String>("oauth_2_0")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        market?.apply { localVariableQuery["market"] = listOf("$market") }
        fields?.apply { localVariableQuery["fields"] = listOf("$fields") }
        additionalTypes?.apply { localVariableQuery["additional_types"] = listOf("$additionalTypes") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/playlists/{playlist_id}".replace("{" + "playlist_id" + "}", "$playlistId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get Playlist Cover Image 
     * Get the current image associated with a specific playlist. 
     * @param playlistId 
     * @return kotlin.collections.List<ImageObject>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getPlaylistCover(playlistId: kotlin.String): HttpResponse<kotlin.collections.List<ImageObject>> {

        val localVariableAuthNames = listOf<String>("oauth_2_0")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/playlists/{playlist_id}/images".replace("{" + "playlist_id" + "}", "$playlistId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<GetPlaylistCoverResponse>().map { value }
    }

    @Serializable(GetPlaylistCoverResponse.Companion::class)
    private class GetPlaylistCoverResponse(val value: List<ImageObject>) {
        companion object : KSerializer<GetPlaylistCoverResponse> {
            private val serializer: KSerializer<List<ImageObject>> = serializer<List<ImageObject>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: GetPlaylistCoverResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = GetPlaylistCoverResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Get Playlist Items 
     * Get full details of the items of a playlist owned by a Spotify user.  **Note**: This endpoint is only accessible for playlists owned by the current user or playlists the user is a collaborator of. A &#x60;403 Forbidden&#x60; status code will be returned if the user is neither the owner nor a collaborator of the playlist. 
     * @param playlistId 
     * @param market  (optional)
     * @param fields  (optional)
     * @param limit  (optional, default to 20)
     * @param offset  (optional, default to 0)
     * @param additionalTypes  (optional)
     * @return PagingPlaylistTrackObject
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getPlaylistsItems(playlistId: kotlin.String, market: kotlin.String? = null, fields: kotlin.String? = null, limit: kotlin.Int? = 20, offset: kotlin.Int? = 0, additionalTypes: kotlin.String? = null): HttpResponse<PagingPlaylistTrackObject> {

        val localVariableAuthNames = listOf<String>("oauth_2_0")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        market?.apply { localVariableQuery["market"] = listOf("$market") }
        fields?.apply { localVariableQuery["fields"] = listOf("$fields") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        additionalTypes?.apply { localVariableQuery["additional_types"] = listOf("$additionalTypes") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/playlists/{playlist_id}/items".replace("{" + "playlist_id" + "}", "$playlistId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get Playlist Items [DEPRECATED] 
     * **Deprecated:** Use [Get Playlist Items](/documentation/web-api/reference/get-playlists-items) instead.  Get full details of the items of a playlist owned by a Spotify user. 
     * @param playlistId 
     * @param market  (optional)
     * @param fields  (optional)
     * @param limit  (optional, default to 20)
     * @param offset  (optional, default to 0)
     * @param additionalTypes  (optional)
     * @return PagingPlaylistTrackObject
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getPlaylistsTracks(playlistId: kotlin.String, market: kotlin.String? = null, fields: kotlin.String? = null, limit: kotlin.Int? = 20, offset: kotlin.Int? = 0, additionalTypes: kotlin.String? = null): HttpResponse<PagingPlaylistTrackObject> {

        val localVariableAuthNames = listOf<String>("oauth_2_0")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        market?.apply { localVariableQuery["market"] = listOf("$market") }
        fields?.apply { localVariableQuery["fields"] = listOf("$fields") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        additionalTypes?.apply { localVariableQuery["additional_types"] = listOf("$additionalTypes") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/playlists/{playlist_id}/tracks".replace("{" + "playlist_id" + "}", "$playlistId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Remove Playlist Items 
     * Remove one or more items from a user&#39;s playlist. 
     * @param playlistId 
     * @param removeItemsPlaylistRequest  (optional)
     * @return ReorderOrReplacePlaylistsTracks200Response
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun removeItemsPlaylist(playlistId: kotlin.String, removeItemsPlaylistRequest: RemoveItemsPlaylistRequest? = null): HttpResponse<ReorderOrReplacePlaylistsTracks200Response> {

        val localVariableAuthNames = listOf<String>("oauth_2_0")

        val localVariableBody = removeItemsPlaylistRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/playlists/{playlist_id}/items".replace("{" + "playlist_id" + "}", "$playlistId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Remove Playlist Items [DEPRECATED] 
     * **Deprecated:** Use [Remove Playlist Items](/documentation/web-api/reference/remove-items-playlist) instead.  Remove one or more items from a user&#39;s playlist. 
     * @param playlistId 
     * @param removeTracksPlaylistRequest  (optional)
     * @return ReorderOrReplacePlaylistsTracks200Response
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun removeTracksPlaylist(playlistId: kotlin.String, removeTracksPlaylistRequest: RemoveTracksPlaylistRequest? = null): HttpResponse<ReorderOrReplacePlaylistsTracks200Response> {

        val localVariableAuthNames = listOf<String>("oauth_2_0")

        val localVariableBody = removeTracksPlaylistRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/playlists/{playlist_id}/tracks".replace("{" + "playlist_id" + "}", "$playlistId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Update Playlist Items 
     * Either reorder or replace items in a playlist depending on the request&#39;s parameters. To reorder items, include &#x60;range_start&#x60;, &#x60;insert_before&#x60;, &#x60;range_length&#x60; and &#x60;snapshot_id&#x60; in the request&#39;s body. To replace items, include &#x60;uris&#x60; as either a query parameter or in the request&#39;s body. Replacing items in a playlist will overwrite its existing items. This operation can be used for replacing or clearing items in a playlist. &lt;br/&gt; **Note**: Replace and reorder are mutually exclusive operations which share the same endpoint, but have different parameters. These operations can&#39;t be applied together in a single request. 
     * @param playlistId 
     * @param uris  (optional)
     * @param reorderOrReplacePlaylistsTracksRequest  (optional)
     * @return ReorderOrReplacePlaylistsTracks200Response
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun reorderOrReplacePlaylistsItems(playlistId: kotlin.String, uris: kotlin.String? = null, reorderOrReplacePlaylistsTracksRequest: ReorderOrReplacePlaylistsTracksRequest? = null): HttpResponse<ReorderOrReplacePlaylistsTracks200Response> {

        val localVariableAuthNames = listOf<String>("oauth_2_0")

        val localVariableBody = reorderOrReplacePlaylistsTracksRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        uris?.apply { localVariableQuery["uris"] = listOf("$uris") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/playlists/{playlist_id}/items".replace("{" + "playlist_id" + "}", "$playlistId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Update Playlist Items [DEPRECATED] 
     * **Deprecated:** Use [Update Playlist Items](/documentation/web-api/reference/reorder-or-replace-playlists-items) instead.  Either reorder or replace items in a playlist depending on the request&#39;s parameters. To reorder items, include &#x60;range_start&#x60;, &#x60;insert_before&#x60;, &#x60;range_length&#x60; and &#x60;snapshot_id&#x60; in the request&#39;s body. To replace items, include &#x60;uris&#x60; as either a query parameter or in the request&#39;s body. Replacing items in a playlist will overwrite its existing items. This operation can be used for replacing or clearing items in a playlist. &lt;br/&gt; **Note**: Replace and reorder are mutually exclusive operations which share the same endpoint, but have different parameters. These operations can&#39;t be applied together in a single request. 
     * @param playlistId 
     * @param uris  (optional)
     * @param reorderOrReplacePlaylistsTracksRequest  (optional)
     * @return ReorderOrReplacePlaylistsTracks200Response
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun reorderOrReplacePlaylistsTracks(playlistId: kotlin.String, uris: kotlin.String? = null, reorderOrReplacePlaylistsTracksRequest: ReorderOrReplacePlaylistsTracksRequest? = null): HttpResponse<ReorderOrReplacePlaylistsTracks200Response> {

        val localVariableAuthNames = listOf<String>("oauth_2_0")

        val localVariableBody = reorderOrReplacePlaylistsTracksRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        uris?.apply { localVariableQuery["uris"] = listOf("$uris") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/playlists/{playlist_id}/tracks".replace("{" + "playlist_id" + "}", "$playlistId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Unfollow Playlist 
     * Remove the current user as a follower of a playlist.  **Note:** This endpoint is deprecated. Use [Remove Items from Library](/documentation/web-api/reference/remove-library-items) instead. 
     * @param playlistId 
     * @return void
     */
    open suspend fun unfollowPlaylist(playlistId: kotlin.String): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>("oauth_2_0")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/playlists/{playlist_id}/followers".replace("{" + "playlist_id" + "}", "$playlistId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Add Custom Playlist Cover Image 
     * Replace the image used to represent a specific playlist. 
     * @param playlistId 
     * @param body  (optional)
     * @return void
     */
    open suspend fun uploadCustomPlaylistCover(playlistId: kotlin.String, body: and.degilevich.dream.shared.core.service.api.generated.infrastructure.Base64ByteArray? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>("oauth_2_0")

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/playlists/{playlist_id}/images".replace("{" + "playlist_id" + "}", "$playlistId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



}
