/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package and.degilevich.dream.shared.core.service.api.generated.api

import and.degilevich.dream.shared.core.service.api.generated.model.GetAnAlbum401Response
import and.degilevich.dream.shared.core.service.api.generated.model.GetMultipleShows200Response
import and.degilevich.dream.shared.core.service.api.generated.model.PagingSavedShowObject
import and.degilevich.dream.shared.core.service.api.generated.model.PagingSimplifiedEpisodeObject
import and.degilevich.dream.shared.core.service.api.generated.model.ShowObject

import and.degilevich.dream.shared.core.service.api.generated.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import io.ktor.http.Headers
import io.ktor.http.HttpHeaders
import io.ktor.http.ContentType
import io.ktor.http.content.PartData
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class ShowsApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Check User&#39;s Saved Shows 
     * Check if one or more shows is already saved in the current Spotify user&#39;s library.  **Note:** This endpoint is deprecated. Use [Check User&#39;s Saved Items](/documentation/web-api/reference/check-library-contains) instead. 
     * @param ids 
     * @return kotlin.collections.List<kotlin.Boolean>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun checkUsersSavedShows(ids: kotlin.String): HttpResponse<kotlin.collections.List<kotlin.Boolean>> {

        val localVariableAuthNames = listOf<String>("oauth_2_0")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        ids?.apply { localVariableQuery["ids"] = listOf("$ids") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/me/shows/contains",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<CheckUsersSavedShowsResponse>().map { value }
    }

    @Serializable(CheckUsersSavedShowsResponse.Companion::class)
    private class CheckUsersSavedShowsResponse(val value: List<kotlin.Boolean>) {
        companion object : KSerializer<CheckUsersSavedShowsResponse> {
            private val serializer: KSerializer<List<kotlin.Boolean>> = serializer<List<kotlin.Boolean>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: CheckUsersSavedShowsResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = CheckUsersSavedShowsResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Get Show 
     * Get Spotify catalog information for a single show identified by its unique Spotify ID. 
     * @param id 
     * @param market  (optional)
     * @return ShowObject
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getAShow(id: kotlin.String, market: kotlin.String? = null): HttpResponse<ShowObject> {

        val localVariableAuthNames = listOf<String>("oauth_2_0")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        market?.apply { localVariableQuery["market"] = listOf("$market") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/shows/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get Show Episodes 
     * Get Spotify catalog information about an show’s episodes. Optional parameters can be used to limit the number of episodes returned. 
     * @param id 
     * @param market  (optional)
     * @param limit  (optional, default to 20)
     * @param offset  (optional, default to 0)
     * @return PagingSimplifiedEpisodeObject
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getAShowsEpisodes(id: kotlin.String, market: kotlin.String? = null, limit: kotlin.Int? = 20, offset: kotlin.Int? = 0): HttpResponse<PagingSimplifiedEpisodeObject> {

        val localVariableAuthNames = listOf<String>("oauth_2_0")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        market?.apply { localVariableQuery["market"] = listOf("$market") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/shows/{id}/episodes".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get Several Shows 
     * Get Spotify catalog information for several shows based on their Spotify IDs. 
     * @param ids 
     * @param market  (optional)
     * @return GetMultipleShows200Response
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getMultipleShows(ids: kotlin.String, market: kotlin.String? = null): HttpResponse<GetMultipleShows200Response> {

        val localVariableAuthNames = listOf<String>("oauth_2_0")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        market?.apply { localVariableQuery["market"] = listOf("$market") }
        ids?.apply { localVariableQuery["ids"] = listOf("$ids") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/shows",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get User&#39;s Saved Shows 
     * Get a list of shows saved in the current Spotify user&#39;s library. Optional parameters can be used to limit the number of shows returned. 
     * @param limit  (optional, default to 20)
     * @param offset  (optional, default to 0)
     * @return PagingSavedShowObject
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getUsersSavedShows(limit: kotlin.Int? = 20, offset: kotlin.Int? = 0): HttpResponse<PagingSavedShowObject> {

        val localVariableAuthNames = listOf<String>("oauth_2_0")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/me/shows",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Remove User&#39;s Saved Shows 
     * Delete one or more shows from current Spotify user&#39;s library.  **Note:** This endpoint is deprecated. Use [Remove Items from Library](/documentation/web-api/reference/remove-library-items) instead. 
     * @param ids 
     * @param market  (optional)
     * @return void
     */
    open suspend fun removeShowsUser(ids: kotlin.String, market: kotlin.String? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>("oauth_2_0")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        ids?.apply { localVariableQuery["ids"] = listOf("$ids") }
        market?.apply { localVariableQuery["market"] = listOf("$market") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/me/shows",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Save Shows for Current User 
     * Save one or more shows to current Spotify user&#39;s library.  **Note:** This endpoint is deprecated. Use [Save Items to Library](/documentation/web-api/reference/save-library-items) instead. 
     * @param ids 
     * @return void
     */
    open suspend fun saveShowsUser(ids: kotlin.String): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>("oauth_2_0")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        ids?.apply { localVariableQuery["ids"] = listOf("$ids") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/me/shows",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


}
