/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package and.degilevich.dream.shared.core.service.api.generated.api

import and.degilevich.dream.shared.core.service.api.generated.model.AddTracksToPlaylistRequest
import and.degilevich.dream.shared.core.service.api.generated.model.AudioAnalysisObject
import and.degilevich.dream.shared.core.service.api.generated.model.AudioFeaturesObject
import and.degilevich.dream.shared.core.service.api.generated.model.GetAnAlbum401Response
import and.degilevich.dream.shared.core.service.api.generated.model.GetAnArtistsTopTracks200Response
import and.degilevich.dream.shared.core.service.api.generated.model.GetSeveralAudioFeatures200Response
import and.degilevich.dream.shared.core.service.api.generated.model.GetUsersTopArtistsAndTracks200Response
import and.degilevich.dream.shared.core.service.api.generated.model.PagingPlaylistTrackObject
import and.degilevich.dream.shared.core.service.api.generated.model.PagingSavedTrackObject
import and.degilevich.dream.shared.core.service.api.generated.model.PagingSimplifiedTrackObject
import and.degilevich.dream.shared.core.service.api.generated.model.RecommendationsObject
import and.degilevich.dream.shared.core.service.api.generated.model.RemoveItemsPlaylistRequest
import and.degilevich.dream.shared.core.service.api.generated.model.RemoveTracksPlaylistRequest
import and.degilevich.dream.shared.core.service.api.generated.model.ReorderOrReplacePlaylistsTracks200Response
import and.degilevich.dream.shared.core.service.api.generated.model.ReorderOrReplacePlaylistsTracksRequest
import and.degilevich.dream.shared.core.service.api.generated.model.SaveAlbumsUserRequest
import and.degilevich.dream.shared.core.service.api.generated.model.SaveTracksUserRequest
import and.degilevich.dream.shared.core.service.api.generated.model.TrackObject

import and.degilevich.dream.shared.core.service.api.generated.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import io.ktor.http.Headers
import io.ktor.http.HttpHeaders
import io.ktor.http.ContentType
import io.ktor.http.content.PartData
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class TracksApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Add Items to Playlist 
     * Add one or more items to a user&#39;s playlist. 
     * @param playlistId 
     * @param position  (optional)
     * @param uris  (optional)
     * @param addTracksToPlaylistRequest  (optional)
     * @return ReorderOrReplacePlaylistsTracks200Response
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun addItemsToPlaylist(playlistId: kotlin.String, position: kotlin.Int? = null, uris: kotlin.String? = null, addTracksToPlaylistRequest: AddTracksToPlaylistRequest? = null): HttpResponse<ReorderOrReplacePlaylistsTracks200Response> {

        val localVariableAuthNames = listOf<String>("oauth_2_0")

        val localVariableBody = addTracksToPlaylistRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        position?.apply { localVariableQuery["position"] = listOf("$position") }
        uris?.apply { localVariableQuery["uris"] = listOf("$uris") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/playlists/{playlist_id}/items".replace("{" + "playlist_id" + "}", "$playlistId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Add Items to Playlist [DEPRECATED] 
     * **Deprecated:** Use [Add Items to Playlist](/documentation/web-api/reference/add-items-to-playlist) instead.  Add one or more items to a user&#39;s playlist. 
     * @param playlistId 
     * @param position  (optional)
     * @param uris  (optional)
     * @param addTracksToPlaylistRequest  (optional)
     * @return ReorderOrReplacePlaylistsTracks200Response
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun addTracksToPlaylist(playlistId: kotlin.String, position: kotlin.Int? = null, uris: kotlin.String? = null, addTracksToPlaylistRequest: AddTracksToPlaylistRequest? = null): HttpResponse<ReorderOrReplacePlaylistsTracks200Response> {

        val localVariableAuthNames = listOf<String>("oauth_2_0")

        val localVariableBody = addTracksToPlaylistRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        position?.apply { localVariableQuery["position"] = listOf("$position") }
        uris?.apply { localVariableQuery["uris"] = listOf("$uris") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/playlists/{playlist_id}/tracks".replace("{" + "playlist_id" + "}", "$playlistId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Check User&#39;s Saved Tracks 
     * Check if one or more tracks is already saved in the current Spotify user&#39;s &#39;Your Music&#39; library.  **Note:** This endpoint is deprecated. Use [Check User&#39;s Saved Items](/documentation/web-api/reference/check-library-contains) instead. 
     * @param ids 
     * @return kotlin.collections.List<kotlin.Boolean>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun checkUsersSavedTracks(ids: kotlin.String): HttpResponse<kotlin.collections.List<kotlin.Boolean>> {

        val localVariableAuthNames = listOf<String>("oauth_2_0")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        ids?.apply { localVariableQuery["ids"] = listOf("$ids") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/me/tracks/contains",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<CheckUsersSavedTracksResponse>().map { value }
    }

    @Serializable(CheckUsersSavedTracksResponse.Companion::class)
    private class CheckUsersSavedTracksResponse(val value: List<kotlin.Boolean>) {
        companion object : KSerializer<CheckUsersSavedTracksResponse> {
            private val serializer: KSerializer<List<kotlin.Boolean>> = serializer<List<kotlin.Boolean>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: CheckUsersSavedTracksResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = CheckUsersSavedTracksResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Get Album Tracks 
     * Get Spotify catalog information about an album’s tracks. Optional parameters can be used to limit the number of tracks returned. 
     * @param id 
     * @param market  (optional)
     * @param limit  (optional, default to 20)
     * @param offset  (optional, default to 0)
     * @return PagingSimplifiedTrackObject
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getAnAlbumsTracks(id: kotlin.String, market: kotlin.String? = null, limit: kotlin.Int? = 20, offset: kotlin.Int? = 0): HttpResponse<PagingSimplifiedTrackObject> {

        val localVariableAuthNames = listOf<String>("oauth_2_0")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        market?.apply { localVariableQuery["market"] = listOf("$market") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/albums/{id}/tracks".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get Artist&#39;s Top Tracks 
     * Get Spotify catalog information about an artist&#39;s top tracks by country. 
     * @param id 
     * @param market  (optional)
     * @return GetAnArtistsTopTracks200Response
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getAnArtistsTopTracks(id: kotlin.String, market: kotlin.String? = null): HttpResponse<GetAnArtistsTopTracks200Response> {

        val localVariableAuthNames = listOf<String>("oauth_2_0")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        market?.apply { localVariableQuery["market"] = listOf("$market") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/artists/{id}/top-tracks".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get Track&#39;s Audio Analysis 
     * Get a low-level audio analysis for a track in the Spotify catalog. The audio analysis describes the track’s structure and musical content, including rhythm, pitch, and timbre. 
     * @param id 
     * @return AudioAnalysisObject
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getAudioAnalysis(id: kotlin.String): HttpResponse<AudioAnalysisObject> {

        val localVariableAuthNames = listOf<String>("oauth_2_0")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/audio-analysis/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get Track&#39;s Audio Features 
     * Get audio feature information for a single track identified by its unique Spotify ID. 
     * @param id 
     * @return AudioFeaturesObject
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getAudioFeatures(id: kotlin.String): HttpResponse<AudioFeaturesObject> {

        val localVariableAuthNames = listOf<String>("oauth_2_0")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/audio-features/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get Playlist Items 
     * Get full details of the items of a playlist owned by a Spotify user.  **Note**: This endpoint is only accessible for playlists owned by the current user or playlists the user is a collaborator of. A &#x60;403 Forbidden&#x60; status code will be returned if the user is neither the owner nor a collaborator of the playlist. 
     * @param playlistId 
     * @param market  (optional)
     * @param fields  (optional)
     * @param limit  (optional, default to 20)
     * @param offset  (optional, default to 0)
     * @param additionalTypes  (optional)
     * @return PagingPlaylistTrackObject
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getPlaylistsItems(playlistId: kotlin.String, market: kotlin.String? = null, fields: kotlin.String? = null, limit: kotlin.Int? = 20, offset: kotlin.Int? = 0, additionalTypes: kotlin.String? = null): HttpResponse<PagingPlaylistTrackObject> {

        val localVariableAuthNames = listOf<String>("oauth_2_0")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        market?.apply { localVariableQuery["market"] = listOf("$market") }
        fields?.apply { localVariableQuery["fields"] = listOf("$fields") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        additionalTypes?.apply { localVariableQuery["additional_types"] = listOf("$additionalTypes") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/playlists/{playlist_id}/items".replace("{" + "playlist_id" + "}", "$playlistId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get Playlist Items [DEPRECATED] 
     * **Deprecated:** Use [Get Playlist Items](/documentation/web-api/reference/get-playlists-items) instead.  Get full details of the items of a playlist owned by a Spotify user. 
     * @param playlistId 
     * @param market  (optional)
     * @param fields  (optional)
     * @param limit  (optional, default to 20)
     * @param offset  (optional, default to 0)
     * @param additionalTypes  (optional)
     * @return PagingPlaylistTrackObject
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getPlaylistsTracks(playlistId: kotlin.String, market: kotlin.String? = null, fields: kotlin.String? = null, limit: kotlin.Int? = 20, offset: kotlin.Int? = 0, additionalTypes: kotlin.String? = null): HttpResponse<PagingPlaylistTrackObject> {

        val localVariableAuthNames = listOf<String>("oauth_2_0")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        market?.apply { localVariableQuery["market"] = listOf("$market") }
        fields?.apply { localVariableQuery["fields"] = listOf("$fields") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        additionalTypes?.apply { localVariableQuery["additional_types"] = listOf("$additionalTypes") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/playlists/{playlist_id}/tracks".replace("{" + "playlist_id" + "}", "$playlistId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get Recommendations 
     * Recommendations are generated based on the available information for a given seed entity and matched against similar artists and tracks. If there is sufficient information about the provided seeds, a list of tracks will be returned together with pool size details.  For artists and tracks that are very new or obscure there might not be enough data to generate a list of tracks. 
     * @param seedArtists 
     * @param seedGenres 
     * @param seedTracks 
     * @param limit  (optional, default to 20)
     * @param market  (optional)
     * @param minAcousticness  (optional)
     * @param maxAcousticness  (optional)
     * @param targetAcousticness  (optional)
     * @param minDanceability  (optional)
     * @param maxDanceability  (optional)
     * @param targetDanceability  (optional)
     * @param minDurationMs  (optional)
     * @param maxDurationMs  (optional)
     * @param targetDurationMs  (optional)
     * @param minEnergy  (optional)
     * @param maxEnergy  (optional)
     * @param targetEnergy  (optional)
     * @param minInstrumentalness  (optional)
     * @param maxInstrumentalness  (optional)
     * @param targetInstrumentalness  (optional)
     * @param minKey  (optional)
     * @param maxKey  (optional)
     * @param targetKey  (optional)
     * @param minLiveness  (optional)
     * @param maxLiveness  (optional)
     * @param targetLiveness  (optional)
     * @param minLoudness  (optional)
     * @param maxLoudness  (optional)
     * @param targetLoudness  (optional)
     * @param minMode  (optional)
     * @param maxMode  (optional)
     * @param targetMode  (optional)
     * @param minPopularity  (optional)
     * @param maxPopularity  (optional)
     * @param targetPopularity  (optional)
     * @param minSpeechiness  (optional)
     * @param maxSpeechiness  (optional)
     * @param targetSpeechiness  (optional)
     * @param minTempo  (optional)
     * @param maxTempo  (optional)
     * @param targetTempo  (optional)
     * @param minTimeSignature  (optional)
     * @param maxTimeSignature  (optional)
     * @param targetTimeSignature  (optional)
     * @param minValence  (optional)
     * @param maxValence  (optional)
     * @param targetValence  (optional)
     * @return RecommendationsObject
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getRecommendations(seedArtists: kotlin.String, seedGenres: kotlin.String, seedTracks: kotlin.String, limit: kotlin.Int? = 20, market: kotlin.String? = null, minAcousticness: kotlin.Double? = null, maxAcousticness: kotlin.Double? = null, targetAcousticness: kotlin.Double? = null, minDanceability: kotlin.Double? = null, maxDanceability: kotlin.Double? = null, targetDanceability: kotlin.Double? = null, minDurationMs: kotlin.Int? = null, maxDurationMs: kotlin.Int? = null, targetDurationMs: kotlin.Int? = null, minEnergy: kotlin.Double? = null, maxEnergy: kotlin.Double? = null, targetEnergy: kotlin.Double? = null, minInstrumentalness: kotlin.Double? = null, maxInstrumentalness: kotlin.Double? = null, targetInstrumentalness: kotlin.Double? = null, minKey: kotlin.Int? = null, maxKey: kotlin.Int? = null, targetKey: kotlin.Int? = null, minLiveness: kotlin.Double? = null, maxLiveness: kotlin.Double? = null, targetLiveness: kotlin.Double? = null, minLoudness: kotlin.Double? = null, maxLoudness: kotlin.Double? = null, targetLoudness: kotlin.Double? = null, minMode: kotlin.Int? = null, maxMode: kotlin.Int? = null, targetMode: kotlin.Int? = null, minPopularity: kotlin.Int? = null, maxPopularity: kotlin.Int? = null, targetPopularity: kotlin.Int? = null, minSpeechiness: kotlin.Double? = null, maxSpeechiness: kotlin.Double? = null, targetSpeechiness: kotlin.Double? = null, minTempo: kotlin.Double? = null, maxTempo: kotlin.Double? = null, targetTempo: kotlin.Double? = null, minTimeSignature: kotlin.Int? = null, maxTimeSignature: kotlin.Int? = null, targetTimeSignature: kotlin.Int? = null, minValence: kotlin.Double? = null, maxValence: kotlin.Double? = null, targetValence: kotlin.Double? = null): HttpResponse<RecommendationsObject> {

        val localVariableAuthNames = listOf<String>("oauth_2_0")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        market?.apply { localVariableQuery["market"] = listOf("$market") }
        seedArtists?.apply { localVariableQuery["seed_artists"] = listOf("$seedArtists") }
        seedGenres?.apply { localVariableQuery["seed_genres"] = listOf("$seedGenres") }
        seedTracks?.apply { localVariableQuery["seed_tracks"] = listOf("$seedTracks") }
        minAcousticness?.apply { localVariableQuery["min_acousticness"] = listOf("$minAcousticness") }
        maxAcousticness?.apply { localVariableQuery["max_acousticness"] = listOf("$maxAcousticness") }
        targetAcousticness?.apply { localVariableQuery["target_acousticness"] = listOf("$targetAcousticness") }
        minDanceability?.apply { localVariableQuery["min_danceability"] = listOf("$minDanceability") }
        maxDanceability?.apply { localVariableQuery["max_danceability"] = listOf("$maxDanceability") }
        targetDanceability?.apply { localVariableQuery["target_danceability"] = listOf("$targetDanceability") }
        minDurationMs?.apply { localVariableQuery["min_duration_ms"] = listOf("$minDurationMs") }
        maxDurationMs?.apply { localVariableQuery["max_duration_ms"] = listOf("$maxDurationMs") }
        targetDurationMs?.apply { localVariableQuery["target_duration_ms"] = listOf("$targetDurationMs") }
        minEnergy?.apply { localVariableQuery["min_energy"] = listOf("$minEnergy") }
        maxEnergy?.apply { localVariableQuery["max_energy"] = listOf("$maxEnergy") }
        targetEnergy?.apply { localVariableQuery["target_energy"] = listOf("$targetEnergy") }
        minInstrumentalness?.apply { localVariableQuery["min_instrumentalness"] = listOf("$minInstrumentalness") }
        maxInstrumentalness?.apply { localVariableQuery["max_instrumentalness"] = listOf("$maxInstrumentalness") }
        targetInstrumentalness?.apply { localVariableQuery["target_instrumentalness"] = listOf("$targetInstrumentalness") }
        minKey?.apply { localVariableQuery["min_key"] = listOf("$minKey") }
        maxKey?.apply { localVariableQuery["max_key"] = listOf("$maxKey") }
        targetKey?.apply { localVariableQuery["target_key"] = listOf("$targetKey") }
        minLiveness?.apply { localVariableQuery["min_liveness"] = listOf("$minLiveness") }
        maxLiveness?.apply { localVariableQuery["max_liveness"] = listOf("$maxLiveness") }
        targetLiveness?.apply { localVariableQuery["target_liveness"] = listOf("$targetLiveness") }
        minLoudness?.apply { localVariableQuery["min_loudness"] = listOf("$minLoudness") }
        maxLoudness?.apply { localVariableQuery["max_loudness"] = listOf("$maxLoudness") }
        targetLoudness?.apply { localVariableQuery["target_loudness"] = listOf("$targetLoudness") }
        minMode?.apply { localVariableQuery["min_mode"] = listOf("$minMode") }
        maxMode?.apply { localVariableQuery["max_mode"] = listOf("$maxMode") }
        targetMode?.apply { localVariableQuery["target_mode"] = listOf("$targetMode") }
        minPopularity?.apply { localVariableQuery["min_popularity"] = listOf("$minPopularity") }
        maxPopularity?.apply { localVariableQuery["max_popularity"] = listOf("$maxPopularity") }
        targetPopularity?.apply { localVariableQuery["target_popularity"] = listOf("$targetPopularity") }
        minSpeechiness?.apply { localVariableQuery["min_speechiness"] = listOf("$minSpeechiness") }
        maxSpeechiness?.apply { localVariableQuery["max_speechiness"] = listOf("$maxSpeechiness") }
        targetSpeechiness?.apply { localVariableQuery["target_speechiness"] = listOf("$targetSpeechiness") }
        minTempo?.apply { localVariableQuery["min_tempo"] = listOf("$minTempo") }
        maxTempo?.apply { localVariableQuery["max_tempo"] = listOf("$maxTempo") }
        targetTempo?.apply { localVariableQuery["target_tempo"] = listOf("$targetTempo") }
        minTimeSignature?.apply { localVariableQuery["min_time_signature"] = listOf("$minTimeSignature") }
        maxTimeSignature?.apply { localVariableQuery["max_time_signature"] = listOf("$maxTimeSignature") }
        targetTimeSignature?.apply { localVariableQuery["target_time_signature"] = listOf("$targetTimeSignature") }
        minValence?.apply { localVariableQuery["min_valence"] = listOf("$minValence") }
        maxValence?.apply { localVariableQuery["max_valence"] = listOf("$maxValence") }
        targetValence?.apply { localVariableQuery["target_valence"] = listOf("$targetValence") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/recommendations",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get Several Tracks&#39; Audio Features 
     * Get audio features for multiple tracks based on their Spotify IDs. 
     * @param ids 
     * @return GetSeveralAudioFeatures200Response
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getSeveralAudioFeatures(ids: kotlin.String): HttpResponse<GetSeveralAudioFeatures200Response> {

        val localVariableAuthNames = listOf<String>("oauth_2_0")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        ids?.apply { localVariableQuery["ids"] = listOf("$ids") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/audio-features",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get Several Tracks 
     * Get Spotify catalog information for multiple tracks based on their Spotify IDs. 
     * @param ids 
     * @param market  (optional)
     * @return GetAnArtistsTopTracks200Response
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getSeveralTracks(ids: kotlin.String, market: kotlin.String? = null): HttpResponse<GetAnArtistsTopTracks200Response> {

        val localVariableAuthNames = listOf<String>("oauth_2_0")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        market?.apply { localVariableQuery["market"] = listOf("$market") }
        ids?.apply { localVariableQuery["ids"] = listOf("$ids") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/tracks",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get Track 
     * Get Spotify catalog information for a single track identified by its unique Spotify ID. 
     * @param id 
     * @param market  (optional)
     * @return TrackObject
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getTrack(id: kotlin.String, market: kotlin.String? = null): HttpResponse<TrackObject> {

        val localVariableAuthNames = listOf<String>("oauth_2_0")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        market?.apply { localVariableQuery["market"] = listOf("$market") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/tracks/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get User&#39;s Saved Tracks 
     * Get a list of the songs saved in the current Spotify user&#39;s &#39;Your Music&#39; library. 
     * @param market  (optional)
     * @param limit  (optional, default to 20)
     * @param offset  (optional, default to 0)
     * @return PagingSavedTrackObject
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getUsersSavedTracks(market: kotlin.String? = null, limit: kotlin.Int? = 20, offset: kotlin.Int? = 0): HttpResponse<PagingSavedTrackObject> {

        val localVariableAuthNames = listOf<String>("oauth_2_0")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        market?.apply { localVariableQuery["market"] = listOf("$market") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/me/tracks",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * enum for parameter type
     */
    @Serializable
    enum class TypeGetUsersTopArtistsAndTracks(val value: kotlin.String) {
        
        @SerialName(value = "artists")
        ARTISTS("artists"),
        
        @SerialName(value = "tracks")
        TRACKS("tracks")
        
    }

    /**
     * Get User&#39;s Top Items 
     * Get the current user&#39;s top artists or tracks based on calculated affinity. 
     * @param type 
     * @param timeRange  (optional, default to "medium_term")
     * @param limit  (optional, default to 20)
     * @param offset  (optional, default to 0)
     * @return GetUsersTopArtistsAndTracks200Response
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getUsersTopArtistsAndTracks(type: TypeGetUsersTopArtistsAndTracks, timeRange: kotlin.String? = "medium_term", limit: kotlin.Int? = 20, offset: kotlin.Int? = 0): HttpResponse<GetUsersTopArtistsAndTracks200Response> {

        val localVariableAuthNames = listOf<String>("oauth_2_0")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        timeRange?.apply { localVariableQuery["time_range"] = listOf("$timeRange") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/me/top/{type}".replace("{" + "type" + "}", "${ type.value }"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Remove Playlist Items 
     * Remove one or more items from a user&#39;s playlist. 
     * @param playlistId 
     * @param removeItemsPlaylistRequest  (optional)
     * @return ReorderOrReplacePlaylistsTracks200Response
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun removeItemsPlaylist(playlistId: kotlin.String, removeItemsPlaylistRequest: RemoveItemsPlaylistRequest? = null): HttpResponse<ReorderOrReplacePlaylistsTracks200Response> {

        val localVariableAuthNames = listOf<String>("oauth_2_0")

        val localVariableBody = removeItemsPlaylistRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/playlists/{playlist_id}/items".replace("{" + "playlist_id" + "}", "$playlistId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Remove Playlist Items [DEPRECATED] 
     * **Deprecated:** Use [Remove Playlist Items](/documentation/web-api/reference/remove-items-playlist) instead.  Remove one or more items from a user&#39;s playlist. 
     * @param playlistId 
     * @param removeTracksPlaylistRequest  (optional)
     * @return ReorderOrReplacePlaylistsTracks200Response
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun removeTracksPlaylist(playlistId: kotlin.String, removeTracksPlaylistRequest: RemoveTracksPlaylistRequest? = null): HttpResponse<ReorderOrReplacePlaylistsTracks200Response> {

        val localVariableAuthNames = listOf<String>("oauth_2_0")

        val localVariableBody = removeTracksPlaylistRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/playlists/{playlist_id}/tracks".replace("{" + "playlist_id" + "}", "$playlistId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Remove User&#39;s Saved Tracks 
     * Remove one or more tracks from the current user&#39;s &#39;Your Music&#39; library.  **Note:** This endpoint is deprecated. Use [Remove Items from Library](/documentation/web-api/reference/remove-library-items) instead. 
     * @param ids 
     * @param saveAlbumsUserRequest  (optional)
     * @return void
     */
    open suspend fun removeTracksUser(ids: kotlin.String, saveAlbumsUserRequest: SaveAlbumsUserRequest? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>("oauth_2_0")

        val localVariableBody = saveAlbumsUserRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        ids?.apply { localVariableQuery["ids"] = listOf("$ids") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/me/tracks",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Update Playlist Items 
     * Either reorder or replace items in a playlist depending on the request&#39;s parameters. To reorder items, include &#x60;range_start&#x60;, &#x60;insert_before&#x60;, &#x60;range_length&#x60; and &#x60;snapshot_id&#x60; in the request&#39;s body. To replace items, include &#x60;uris&#x60; as either a query parameter or in the request&#39;s body. Replacing items in a playlist will overwrite its existing items. This operation can be used for replacing or clearing items in a playlist. &lt;br/&gt; **Note**: Replace and reorder are mutually exclusive operations which share the same endpoint, but have different parameters. These operations can&#39;t be applied together in a single request. 
     * @param playlistId 
     * @param uris  (optional)
     * @param reorderOrReplacePlaylistsTracksRequest  (optional)
     * @return ReorderOrReplacePlaylistsTracks200Response
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun reorderOrReplacePlaylistsItems(playlistId: kotlin.String, uris: kotlin.String? = null, reorderOrReplacePlaylistsTracksRequest: ReorderOrReplacePlaylistsTracksRequest? = null): HttpResponse<ReorderOrReplacePlaylistsTracks200Response> {

        val localVariableAuthNames = listOf<String>("oauth_2_0")

        val localVariableBody = reorderOrReplacePlaylistsTracksRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        uris?.apply { localVariableQuery["uris"] = listOf("$uris") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/playlists/{playlist_id}/items".replace("{" + "playlist_id" + "}", "$playlistId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Update Playlist Items [DEPRECATED] 
     * **Deprecated:** Use [Update Playlist Items](/documentation/web-api/reference/reorder-or-replace-playlists-items) instead.  Either reorder or replace items in a playlist depending on the request&#39;s parameters. To reorder items, include &#x60;range_start&#x60;, &#x60;insert_before&#x60;, &#x60;range_length&#x60; and &#x60;snapshot_id&#x60; in the request&#39;s body. To replace items, include &#x60;uris&#x60; as either a query parameter or in the request&#39;s body. Replacing items in a playlist will overwrite its existing items. This operation can be used for replacing or clearing items in a playlist. &lt;br/&gt; **Note**: Replace and reorder are mutually exclusive operations which share the same endpoint, but have different parameters. These operations can&#39;t be applied together in a single request. 
     * @param playlistId 
     * @param uris  (optional)
     * @param reorderOrReplacePlaylistsTracksRequest  (optional)
     * @return ReorderOrReplacePlaylistsTracks200Response
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun reorderOrReplacePlaylistsTracks(playlistId: kotlin.String, uris: kotlin.String? = null, reorderOrReplacePlaylistsTracksRequest: ReorderOrReplacePlaylistsTracksRequest? = null): HttpResponse<ReorderOrReplacePlaylistsTracks200Response> {

        val localVariableAuthNames = listOf<String>("oauth_2_0")

        val localVariableBody = reorderOrReplacePlaylistsTracksRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        uris?.apply { localVariableQuery["uris"] = listOf("$uris") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/playlists/{playlist_id}/tracks".replace("{" + "playlist_id" + "}", "$playlistId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Save Tracks for Current User 
     * Save one or more tracks to the current user&#39;s &#39;Your Music&#39; library.  **Note:** This endpoint is deprecated. Use [Save Items to Library](/documentation/web-api/reference/save-library-items) instead. 
     * @param saveTracksUserRequest  (optional)
     * @return void
     */
    open suspend fun saveTracksUser(saveTracksUserRequest: SaveTracksUserRequest? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>("oauth_2_0")

        val localVariableBody = saveTracksUserRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/me/tracks",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



}
