/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package and.degilevich.dream.shared.core.service.api.generated.api

import and.degilevich.dream.shared.core.service.api.generated.model.FollowArtistsUsersRequest
import and.degilevich.dream.shared.core.service.api.generated.model.FollowPlaylistRequest
import and.degilevich.dream.shared.core.service.api.generated.model.GetAnAlbum401Response
import and.degilevich.dream.shared.core.service.api.generated.model.GetFollowed200Response
import and.degilevich.dream.shared.core.service.api.generated.model.GetUsersTopArtistsAndTracks200Response
import and.degilevich.dream.shared.core.service.api.generated.model.PagingPlaylistObject
import and.degilevich.dream.shared.core.service.api.generated.model.PrivateUserObject
import and.degilevich.dream.shared.core.service.api.generated.model.PublicUserObject
import and.degilevich.dream.shared.core.service.api.generated.model.SaveAlbumsUserRequest

import and.degilevich.dream.shared.core.service.api.generated.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import io.ktor.http.Headers
import io.ktor.http.HttpHeaders
import io.ktor.http.ContentType
import io.ktor.http.content.PartData
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class UsersApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)


    /**
     * enum for parameter type
     */
    @Serializable
    enum class TypeCheckCurrentUserFollows(val value: kotlin.String) {
        
        @SerialName(value = "artist")
        ARTIST("artist"),
        
        @SerialName(value = "user")
        USER("user")
        
    }

    /**
     * Check If User Follows Artists or Users 
     * Check to see if the current user is following one or more artists or other Spotify users.  **Note:** This endpoint is deprecated. Use [Check User&#39;s Saved Items](/documentation/web-api/reference/check-library-contains) instead. 
     * @param type 
     * @param ids 
     * @return kotlin.collections.List<kotlin.Boolean>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun checkCurrentUserFollows(type: TypeCheckCurrentUserFollows, ids: kotlin.String): HttpResponse<kotlin.collections.List<kotlin.Boolean>> {

        val localVariableAuthNames = listOf<String>("oauth_2_0")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        type?.apply { localVariableQuery["type"] = listOf("${ type.value }") }
        ids?.apply { localVariableQuery["ids"] = listOf("$ids") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/me/following/contains",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<CheckCurrentUserFollowsResponse>().map { value }
    }

    @Serializable(CheckCurrentUserFollowsResponse.Companion::class)
    private class CheckCurrentUserFollowsResponse(val value: List<kotlin.Boolean>) {
        companion object : KSerializer<CheckCurrentUserFollowsResponse> {
            private val serializer: KSerializer<List<kotlin.Boolean>> = serializer<List<kotlin.Boolean>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: CheckCurrentUserFollowsResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = CheckCurrentUserFollowsResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Check if Current User Follows Playlist 
     * Check to see if the current user is following a specified playlist.  **Note:** This endpoint is deprecated. Use [Check User&#39;s Saved Items](/documentation/web-api/reference/check-library-contains) instead. 
     * @param playlistId 
     * @param ids  (optional)
     * @return kotlin.collections.List<kotlin.Boolean>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun checkIfUserFollowsPlaylist(playlistId: kotlin.String, ids: kotlin.String? = null): HttpResponse<kotlin.collections.List<kotlin.Boolean>> {

        val localVariableAuthNames = listOf<String>("oauth_2_0")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        ids?.apply { localVariableQuery["ids"] = listOf("$ids") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/playlists/{playlist_id}/followers/contains".replace("{" + "playlist_id" + "}", "$playlistId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<CheckIfUserFollowsPlaylistResponse>().map { value }
    }

    @Serializable(CheckIfUserFollowsPlaylistResponse.Companion::class)
    private class CheckIfUserFollowsPlaylistResponse(val value: List<kotlin.Boolean>) {
        companion object : KSerializer<CheckIfUserFollowsPlaylistResponse> {
            private val serializer: KSerializer<List<kotlin.Boolean>> = serializer<List<kotlin.Boolean>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: CheckIfUserFollowsPlaylistResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = CheckIfUserFollowsPlaylistResponse(serializer.deserialize(decoder))
        }
    }


    /**
     * enum for parameter type
     */
    @Serializable
    enum class TypeFollowArtistsUsers(val value: kotlin.String) {
        
        @SerialName(value = "artist")
        ARTIST("artist"),
        
        @SerialName(value = "user")
        USER("user")
        
    }

    /**
     * Follow Artists or Users 
     * Add the current user as a follower of one or more artists or other Spotify users.  **Note:** This endpoint is deprecated. Use [Save Items to Library](/documentation/web-api/reference/save-library-items) instead. 
     * @param type 
     * @param ids 
     * @param followArtistsUsersRequest  (optional)
     * @return void
     */
    open suspend fun followArtistsUsers(type: TypeFollowArtistsUsers, ids: kotlin.String, followArtistsUsersRequest: FollowArtistsUsersRequest? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>("oauth_2_0")

        val localVariableBody = followArtistsUsersRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        type?.apply { localVariableQuery["type"] = listOf("${ type.value }") }
        ids?.apply { localVariableQuery["ids"] = listOf("$ids") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/me/following",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Follow Playlist 
     * Add the current user as a follower of a playlist.  **Note:** This endpoint is deprecated. Use [Save Items to Library](/documentation/web-api/reference/save-library-items) instead. 
     * @param playlistId 
     * @param followPlaylistRequest  (optional)
     * @return void
     */
    open suspend fun followPlaylist(playlistId: kotlin.String, followPlaylistRequest: FollowPlaylistRequest? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>("oauth_2_0")

        val localVariableBody = followPlaylistRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/playlists/{playlist_id}/followers".replace("{" + "playlist_id" + "}", "$playlistId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Get Current User&#39;s Profile 
     * Get detailed profile information about the current user (including the current user&#39;s username). 
     * @return PrivateUserObject
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getCurrentUsersProfile(): HttpResponse<PrivateUserObject> {

        val localVariableAuthNames = listOf<String>("oauth_2_0")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/me",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * enum for parameter type
     */
    @Serializable
    enum class TypeGetFollowed(val value: kotlin.String) {
        
        @SerialName(value = "artist")
        ARTIST("artist")
        
    }

    /**
     * Get Followed Artists 
     * Get the current user&#39;s followed artists. 
     * @param type 
     * @param after  (optional)
     * @param limit  (optional, default to 20)
     * @return GetFollowed200Response
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getFollowed(type: TypeGetFollowed, after: kotlin.String? = null, limit: kotlin.Int? = 20): HttpResponse<GetFollowed200Response> {

        val localVariableAuthNames = listOf<String>("oauth_2_0")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        type?.apply { localVariableQuery["type"] = listOf("${ type.value }") }
        after?.apply { localVariableQuery["after"] = listOf("$after") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/me/following",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get User&#39;s Playlists 
     * Get a list of the playlists owned or followed by a Spotify user. 
     * @param userId 
     * @param limit  (optional, default to 20)
     * @param offset  (optional, default to 0)
     * @return PagingPlaylistObject
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getListUsersPlaylists(userId: kotlin.String, limit: kotlin.Int? = 20, offset: kotlin.Int? = 0): HttpResponse<PagingPlaylistObject> {

        val localVariableAuthNames = listOf<String>("oauth_2_0")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/users/{user_id}/playlists".replace("{" + "user_id" + "}", "$userId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get User&#39;s Profile 
     * Get public profile information about a Spotify user. 
     * @param userId 
     * @return PublicUserObject
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getUsersProfile(userId: kotlin.String): HttpResponse<PublicUserObject> {

        val localVariableAuthNames = listOf<String>("oauth_2_0")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/users/{user_id}".replace("{" + "user_id" + "}", "$userId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * enum for parameter type
     */
    @Serializable
    enum class TypeGetUsersTopArtistsAndTracks(val value: kotlin.String) {
        
        @SerialName(value = "artists")
        ARTISTS("artists"),
        
        @SerialName(value = "tracks")
        TRACKS("tracks")
        
    }

    /**
     * Get User&#39;s Top Items 
     * Get the current user&#39;s top artists or tracks based on calculated affinity. 
     * @param type 
     * @param timeRange  (optional, default to "medium_term")
     * @param limit  (optional, default to 20)
     * @param offset  (optional, default to 0)
     * @return GetUsersTopArtistsAndTracks200Response
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getUsersTopArtistsAndTracks(type: TypeGetUsersTopArtistsAndTracks, timeRange: kotlin.String? = "medium_term", limit: kotlin.Int? = 20, offset: kotlin.Int? = 0): HttpResponse<GetUsersTopArtistsAndTracks200Response> {

        val localVariableAuthNames = listOf<String>("oauth_2_0")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        timeRange?.apply { localVariableQuery["time_range"] = listOf("$timeRange") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/me/top/{type}".replace("{" + "type" + "}", "${ type.value }"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * enum for parameter type
     */
    @Serializable
    enum class TypeUnfollowArtistsUsers(val value: kotlin.String) {
        
        @SerialName(value = "artist")
        ARTIST("artist"),
        
        @SerialName(value = "user")
        USER("user")
        
    }

    /**
     * Unfollow Artists or Users 
     * Remove the current user as a follower of one or more artists or other Spotify users.  **Note:** This endpoint is deprecated. Use [Remove Items from Library](/documentation/web-api/reference/remove-library-items) instead. 
     * @param type 
     * @param ids 
     * @param saveAlbumsUserRequest  (optional)
     * @return void
     */
    open suspend fun unfollowArtistsUsers(type: TypeUnfollowArtistsUsers, ids: kotlin.String, saveAlbumsUserRequest: SaveAlbumsUserRequest? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>("oauth_2_0")

        val localVariableBody = saveAlbumsUserRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        type?.apply { localVariableQuery["type"] = listOf("${ type.value }") }
        ids?.apply { localVariableQuery["ids"] = listOf("$ids") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/me/following",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Unfollow Playlist 
     * Remove the current user as a follower of a playlist.  **Note:** This endpoint is deprecated. Use [Remove Items from Library](/documentation/web-api/reference/remove-library-items) instead. 
     * @param playlistId 
     * @return void
     */
    open suspend fun unfollowPlaylist(playlistId: kotlin.String): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>("oauth_2_0")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/playlists/{playlist_id}/followers".replace("{" + "playlist_id" + "}", "$playlistId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


}
